/* NavBar.css */

.nav-container {
  transition: all 0.3s ease;
}

.nav-links a,
.nav-links span {
  position: relative;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links span:hover {
  color: #666;
}

@media (min-width: 768px) {
  .desktop-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  .desktop-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.logo-pic {
  max-width: 6rem;
  height: auto;
}

@media (max-width: 768px) {
  .logo-pic {
    max-width: 3.5rem;
    height: auto;
  }
}

.logo-picc {
  max-width: 8rem;
  height: auto;
}

/* Style the close button */
.chakra-modal__close-btn {
  color: #333 !important;
}

/* Ensure the logo in the drawer isn't too large */
.chakra-modal__header .logo-picc {
  max-width: 8rem;
  height: auto;
}
